langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
google-generativeai
chromadb
streamlit
python-dotenv
pydantic>=2.0
